<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.xuanshangling.mapper.RewardVOMapper">

    <resultMap id="BaseResultMap" type="club.xuanshangling.pojo.vo.RewardVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="reward_title" property="rewardTitle" jdbcType="VARCHAR"/>
        <result column="reward_content" property="rewardContent" jdbcType="VARCHAR"/>
        <result column="reward_price" property="rewardPrice" jdbcType="DECIMAL"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
      select r.* from reward r order by create_time desc
    </select>
</mapper>