**It's so hard to hold on**

坚持虽然困难，但是有明确的方向

从现在开始，来撸一撸[LeetCode](https://leetcode-cn.com/problemset/all/)

使用java语言动手编程，加强对java基础的理解

小撸怡情，大撸伤身，每日一小撸，七日一大撸；

光看不练假把式，一声不吭动起来！

# 目录

- [日：极客时间每日一课](#极客时间每日一课)
- [日：LeetCode刷题](#LeetCode刷题)
    - [打卡日历](#打卡日历)
- [日：Java面试题](#Java面试题)
    - [Java提纲](#Java提纲)
- [日：读书计划](#读书计划)
- [周：每周一篇英文翻译](#每周一篇英文翻译)
- [周：每周进度](#每周进度)

每天下班以后，首先看 **每日一课**,然后进行**算法**练习，最后时间进行**读书计划**

**Java面试题**在早上进行收集整理

每周日完成一篇**英文阅读**，做一个篇文章翻译吧！


# 极客时间每日一课

# LeetCode刷题

配合相关算法书的阅读，进行针对性的联系；解题要用 `Java` 和 `JavaScript` 两种语言实现

- [ ] [剑指Offer：名企面试官精讲典型编程题（第2版）](books\算法与数据结构\剑指Offer：名企面试官精讲典型编程题（第2版）.pdf)，共50道题，需要50天来完成。

## 打卡日历

### 2019-07

|进度|周日|周一|周二|周三|周四|周五|周六|
|--|--|--|--|--|--|--|--|
|[:point_right:](#2019-07-14)|14|[15](http://note.youdao.com/noteshare?id=f90c565223c5d5e3d31f8bceb0de5130&sub=FD37678AE985437CA4849D05DC076DEF) | [16](http://note.youdao.com/noteshare?id=cb8684c9804057f30f76d959e6aecbf8&sub=E80474F5D5D440728D117958F6D567F8) | [17](http://note.youdao.com/noteshare?id=76ec8b127450ea81e496e681b6412245&sub=E16B0F5E386247138FF701430F437A69) | [18](http://note.youdao.com/noteshare?id=9a8916b56e02c4aa663c968f2ef46044&sub=FD97A6FF9A4C4DF28B287D69DB75A5E5) | [19](http://note.youdao.com/noteshare?id=67aae30edf0dbfb231204edc0131b3e8&sub=24CF40CDF2674F98807A7B00B1A9AE40) | [20](http://note.youdao.com/noteshare?id=ea6aa7e526d07c85063aae4f9445d52f&sub=E8FB6DF9953A4534BBEB0E151174691F) |
|[:point_right:](#2019-07-21)| 21 |22|23|24|25|26|27|
|| 28 |29|30|31|  |  |　|

# Java面试题

从基础开始，边做题，边完善提纲，并且完善 思维导图。
每天通过做题，加深对理论知识的理解，指引学习的方向。
配合相关的图书。首先完成Java语言基础的提纲：

- [ ] 《Java编程思想》
- [ ] 《Java核心技术卷一》
- [ ] [《Java8实战》](/books/Java语言/Java8实战.pdf)

## Java提纲


# 读书计划

1. 读书要记录相应的思维导图
2. 将每章的练习代码上传到GitHub上

- [ ] 《Spring实战》
- [ ] 《深入理解Java虚拟机》
- [ ] [《Java并发编程之美》](/books/并发编程/Java并发编程之美.pdf)

# 每周一篇英文翻译

翻译一篇英文类的技术文章


# 每周进度

每周日对上一周的完成情况进行总结
并且将下周计划列出来

## 2019-07-14

### 计划

每天一道`LeetCode`算法题，简单题开始

每天一道`Java`面试题

### 总结

本周刷题可以跟进，但是做每道题的时候消耗时间太多，自己刚开始练习算法题，没有明确的思路，这样死磕去想不是正确的方案。

接下来要配合《剑指offer 名企面试官精讲典型编程题》先了解做题的思路，然后选择题目上手
先学会做题的技巧与思路，然后通过做题将知识牢固掌握

java面试题的进度比较差，因为一直在尝试如何积累面试题的思路;
从基础开始，边做题，边完善提纲，并且完善 思维导图。

## 2019-07-21

### 计划

本周`读书计划`要跟进，首先争取每天看一章《Spring实战》，并且动手写写Demo，这样才能加深理解


### 总结
